page-editacount{

  .edit-user-header{
    //background-color: aqua;
    display: flex;
    justify-content: space-between;
    font-size: 150%;
    ion-icon{
      margin-left: 5px;
    }
    &__title{
      font-weight: 500;
      margin-right: 20px;
    }
  }
    

  #info_avatar{
    display: flex;
    width:95px;
    border-radius: 50%;
    border-style: solid;
    border-width:1px;
  }
  #info_avatar img{
    border-radius: 50%;
    width:95px;
    height:95px;
  }
  #edit_avatar{
    text-align: center;
    padding: 2% 2% 2% 2%; 
    color:cornflowerblue;
    font-weight: 400;
  }
  #edit_infomation ion-item{
    padding-left: unset;
  }
  #edit_privateinfo_title{
    font-weight: 500;
    font-size: 135%;
    padding-top: 10%;
    padding-bottom: 5%;
  }
}