page-forgot-password{
  #header{
    //background-color: blueviolet;
    ion-icon{
      font-size:40px;
    }
    
  }

  .item-md{
    padding-right: 32px !important;
  }

  .container{
    background-color: unset !important;
    height: 70%;
    h1{
      font-size: 25px;
      margin-top: 10px;
      
    }
    &__title{
      color:#C2C2C2;
    }

    &__content{
      button{
        margin-top: 20px;
      }
    }
  }
}