<ion-content>
  <div padding id="header">
    <ion-icon navPop name="arrow-back"></ion-icon>
  </div>

  <div padding class="container">
    <h1>Please give us your email</h1>
    <div class="container__title">We will get your password back in no time !</div>

    <div class="container__content">
      <form [formGroup]="forgetPassForm" (ngSubmit)="onSubmit()" novalidate>
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>

        <button ion-button color="theme" round type="submit">Submit</button>
      </form>
    </div>
  </div>

</ion-content>